.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form div{
    width: 100%;
}
 

.form .big-label{
    width: 50%;
    display: inline-block;
    text-align: right;
}

.form .line-form {
    margin-bottom: 15px;

}

.exp-line div{
    display: inline-block; 
    width: 40%;
}

@media screen and (max-width:419px){
    .form input[type="text"]{
        width: 100%;
    }

    .form .big-label{
        width: 100%;
        text-align: center;
    }

    .form .line-form{
        flex-direction: column;
    }

    .line-form div{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}